services:
  querator:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VERSION: dev-build
    image: ghcr.io/kapetan-io/querator:latest
    ports:
      - "2319:2319"
    volumes:
      - querator-data:/data
    environment:
      - TZ=UTC
    restart: unless-stopped

volumes:
  querator-data:
